---
export const prerender = true;

import { Image } from "astro:assets";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects" subtitle="Some things I've worked on.">
  <div class="mt-6 grid grid-cols-5 gap-4 md:gap-8">
    {/* Intro + Spotify */}
    <div class="col-span-4 md:col-span-2">
      <ProjectCard
        title="lcbud"
        icon={"tabler:code-dots"}
        href="https://github.com/unethicalteam/lcbud"
        hrefText="GitHub"
        iconBrands={[
          "tabler:brand-windows"
        ]}
      >
        <p>
          A command line utility to do all things Lunar Client. Downgrade your Lunar Client Launcher version.
          Backup your multiver folder when updates are pushed. Install Weave Mod Loader for mods on Lunar Client.
          And much more.
        </p>
        <div
          class="lg:p-4 lg:mt-0 mt-2 duration-500 transition-transform lg:hover:scale-105"
        >
          <Image
            src="/sdvapp.png"
            alt="stardew.app"
            width={1920}
            height={1080}
            class="rounded-md"
          />
        </div>
      </ProjectCard>
    </div>
  </div>
</Layout>
