---
export const prerender = true;

import { Fragment } from "astro/jsx-runtime";
import { Github, Instagram } from "lucide-astro";
import type { StreamingData } from "../types/api";
import FooterActivity from "./FooterActivity.astro";

const socials = [
  {
    name: "GitHub",
    href: "https://github.com/uchks",
    icon: Github,
  },
  {
    name: "Instagram",
    href: "https://instagram.com/uchks",
    icon: Instagram,
  },
];

const streaming = await fetch("https://astrological-api.fly.dev/music/streaming");
const streamingData = (await streaming.json()) as StreamingData;

const activity = await fetch("https://astrological-api.fly.dev/fun/discord");
const activityData = (await activity.json()) as any;
---

<footer
  class="absolute bottom-0 w-full border-t md:flex grid justify-center md:justify-between p-4 xl:pr-[7rem] xl:pl-[7rem]"
>
  <div class="flex justify-center md:justify-start">
    <FooterActivity streaming={streamingData} presence={activityData} />
  </div>
  <div class="flex gap-3 justify-center md:justify-end">
    <p class="flex gap-2 text-gray-10 hover:text-gray-12 transition-colors duration-200">Made with ❤️ by Jack LaFond</p>
  </div>
  <div class="flex gap-3 justify-center md:justify-end">
    {
      socials.map((social) => {
        return (
          <a
            href={social.href}
            class="flex gap-2 text-gray-10 hover:text-gray-12 transition-colors duration-200"
          >
            {social.name}
          </a>
        );
      })
    }
  </div>
</footer>
