---
const currentPath = Astro.url.pathname;

const navLinks = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Projects",
    href: "/projects",
  },
];
---

<div class="grid md:flex justify-between">
  <div class="flex gap-1">
    {
      navLinks.map((link) => {
        return (
          <a
            href={link.href}
            class={`flex items-center text-gray-10 hover:text-gray-12 hover:bg-gray-4 p-1 pr-2 pl-2 rounded-lg transition-colors duration-200 ${
              currentPath === link.href ? "bg-gray-4 text-gray-12" : ""
            }`}
            transition:animate="fade"
          >
            {link.name}
          </a>
        );
      })
    }
  </div>
</div>
