---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.tsx";
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="my personal website." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div
      class="min-h-screen min-w-8xl bg-gray-50 dark:bg-neutral-950 relative z-10"
    >
      <nav class="min-w-8xl mx-auto container px-4 pt-8">
        <Navigation />
      </nav>
      <main class="mx-auto h-full max-w-8xl container px-4 pb-40 pt-12">
        <div class="flex items-center space-x-6">
          <div class="flex flex-col">
            <div class="font-bold text-gray-12 text-3xl font-display">
              {title}
            </div>
            <div class="font-normal text-gray-11 text-lg">
              {subtitle}
            </div>
            <div class="mt-2 -ml-[3px] -pl-1"></div>
          </div>
        </div>
        <slot />
      </main>
      <Footer client:load />
    </div>
  </body>
</html>
